<html>
  {% load static %}

<head>
  <link rel="stylesheet" href="{% static '/css/login.css'%}";>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="{% static '/JS/fontawesome.js'%}"></script>
  <title>Sign in</title>
</head>

<body >
  {% include 'topBar.html' %}
  
  <div class="signup">
  <div class="main" style="margin-left: 25px;">
    <p class="sign" align="center" >Create your account</p>
    <form method="post">
      {% csrf_token %}
      <span class = 'un'>
        {{ form.username }}
      </span>
      <!-- <h5>Accept terms and conditions</h5><input type="checkbox"> -->
      <input class="submit" type="submit" ></input> 
    </form>
    </div>
  </div>             
    
</body>

</html>