<html>
  {% load static %}

<head>
  <link rel="stylesheet" href="{% static '/css/login.css'%}";>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title>Sign in</title>
</head>

<body >
  {% include 'navBar.html' %}
  <div class="main" style="margin-left: 25px;">
    <p class="sign" align="center">Log-in to your account</p>
    <form class="form1">
      <input class="un " type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>                
    </div>
     
</body>

</html>