<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="#" class="logo">Theory</a>
        <nav id="nav">
            <div class="dropdown">
                <button class="dropbtn">
                  <i class="fas fa-users"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'accounts:sign-up' %}">User</a></br>
                  <a href="#">Guest</a>
                </div>
              </div> 
            <!-- <a href="#" class='fas fa-users'></a> -->
            <a href="#">About us</a>
        </nav>
        <!-- <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->
    </div>
</header>